<a href="https://colab.research.google.com/github/mas2525/Project_Proposal/blob/main/SubDistrictHousingShift.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
from google.colab import files

In [4]:
upload = files.upload()

Saving statisztika_3201_10101.xlsx to statisztika_3201_10101.xlsx
Saving statisztika_3201_10102.xlsx to statisztika_3201_10102.xlsx
Saving statisztika_3201_10103.xlsx to statisztika_3201_10103.xlsx
Saving statisztika_3201_10104.xlsx to statisztika_3201_10104.xlsx
Saving statisztika_3201_10105.xlsx to statisztika_3201_10105.xlsx
Saving statisztika_3201_10307.xlsx to statisztika_3201_10307.xlsx
Saving statisztika_3201_10406.xlsx to statisztika_3201_10406.xlsx
Saving statisztika_3201_10455.xlsx to statisztika_3201_10455.xlsx

In [5]:
import io

In [6]:
df10101 = pd.read_excel(io.BytesIO(upload['statisztika_3201_10101.xlsx']))
df10102 = pd.read_excel(io.BytesIO(upload['statisztika_3201_10102.xlsx']))
df10103 = pd.read_excel(io.BytesIO(upload['statisztika_3201_10103.xlsx']))
df10104 = pd.read_excel(io.BytesIO(upload['statisztika_3201_10104.xlsx']))
df10105 = pd.read_excel(io.BytesIO(upload['statisztika_3201_10105.xlsx']))
df10307 = pd.read_excel(io.BytesIO(upload['statisztika_3201_10307.xlsx']))
df10406 = pd.read_excel(io.BytesIO(upload['statisztika_3201_10406.xlsx']))
df10455 = pd.read_excel(io.BytesIO(upload['statisztika_3201_10455.xlsx']))

In [7]:
df10101.head()

  Ingatlannet.hu Budapest, I. kerület Gellérthegy ingatlan statisztika - 2021.03.10  ... Unnamed: 10
0                                              Dátum                                 ...         NaN
1                                            2010-01                                 ...         NaN
2                                            2010-09                                 ...         NaN
3                                            2010-10                                 ...         NaN
4                                            2010-11                                 ...         NaN

[5 rows x 11 columns]

In [8]:
df10101 = df10101.drop(['Unnamed: 5','Unnamed: 6', 'Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10'], axis=1)

In [9]:
df10101.head()

  Ingatlannet.hu Budapest, I. kerület Gellérthegy ingatlan statisztika - 2021.03.10  ...       Unnamed: 4
0                                              Dátum                                 ...  Átlagos reál ár
1                                            2010-01                                 ...           599376
2                                            2010-09                                 ...           558924
3                                            2010-10                                 ...           456573
4                                            2010-11                                 ...           455664

[5 rows x 5 columns]

In [10]:
df10101.columns = df10101.iloc[0]

In [11]:
df10101.head()

0    Dátum  Átlagos négyzetméter ár  ...  Szórás felső határ  Átlagos reál ár
0    Dátum  Átlagos négyzetméter ár  ...  Szórás felső határ  Átlagos reál ár
1  2010-01                   438531  ...              735649           599376
2  2010-09                   412472  ...              558924           558924
3  2010-10                   338095  ...              456573           456573
4  2010-11                   338095  ...              455664           455664

[5 rows x 5 columns]

In [12]:
df10102.head()

  Ingatlannet.hu Budapest, I. kerület Krisztinaváros ingatlan statisztika - 2021.03.10  ... Unnamed: 10
0                                              Dátum                                    ...         NaN
1                                            2010-01                                    ...         NaN
2                                            2011-05                                    ...         NaN
3                                            2011-11                                    ...         NaN
4                                            2011-12                                    ...         NaN

[5 rows x 11 columns]

In [19]:
df10102 = df10102.drop(['Unnamed: 5','Unnamed: 6', 'Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10'],axis =1)

KeyError: ignored

In [14]:
df10102.columns = df10102.iloc[0]